{% extends 'main/_layout.html' %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block title %}Faturalar{% endblock %}

{% block content %}
<div class="container" id="vue">
    <div class="row">
	<div class="col-12">
	    <h1>{% trans "Recipts" %}</h1>
	</div>

	<div class="table-responsive table-hover">
	  <table class="table">
	    <caption>{% trans "List of Recipts" %}</caption>
	    <thead>
	      <tr>
		  <th scope="col">{% trans "Name" %}</th>
		  <th scope="col">{% trans "Create Date" %}</th>
		  <th scope="col">{% trans "Description" %}</th>
		  <th scope="col">{% trans "Price" %}</th>
                  <!-- <th scope="col">{% trans "Action" %}</th> -->
	      </tr>
	    </thead>
	    <tbody>
		{% for recipt in object_list %}
		<tr>
		    <td>{{ recipt.name }}</td>
		    <td>{{ recipt.create_date|date }}</td>
		    <td>{{ recipt.description }}</td>
		    <td>{{ recipt.price }} €</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
	
        <h5 class="float-right"><nav aria-label="Page navigation example">
	  <div class="pagination float-right">
	    {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" url_view_name='main:recipt-list-page' %}
	  </div>
	</nav>
	</h5>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
 app = new Vue({
     el: '#vue',
     delimiters: ['[[', ']]'],
     data: {
	 
     },
     methods: {
	
     }
 })
</script>
{% endblock %}
