{% extends 'main/_layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Stok Azaltma{% endblock %}

{% block content %}
<div class="container" id="vue" v-cloak>
    <div class="row">
	<div class="col-12">
	    <h1>{% trans "Change Stock" %}</h1>
	    <form class="pt-4">
		<div class="form-row">
		    <div class="col-12 mb-2">
			<label>{% trans "Category" %}</label>
			<select v-model="selected_category" class="custom-select">
			    <option value="" selected>{% trans 'Select Category...' %}</option>
			    {% for category in category_list %}
			    <option value="{{category.id}}">
				{{category.name}}
			    </option>
			    {% endfor %}
			</select>
		    </div>
		    
		    <div class="col-12">
			<label>{% trans "Product" %}</label>
			<vue-bootstrap-typeahead
			    :data="products"
			    :serializer="s => s.name"
			    v-model="product_search"
			    @hit="product = $event.id"
			    input-class="form-control"
			    aria-describedby="{% trans "Search Product" %}"
			    placeholder="{% trans "Search Product" %}"
			/>
		    </div>
		    <div class="col-12 pt-2" v-if="product_detail.name">
			<h5>{% trans "Product Details" %}</h5>
			<p><strong>{% trans "Name" %}: </strong>[[ product_detail.name ]]</p>
			<p><strong>{% trans "Price" %}: </strong>[[ product_detail.price ]] €</p>
			<p><strong>{% trans "Quantity" %}: </strong>[[ quantity ]]</p>
		    </div>
		    
		    <div class="col-12 pt-2">
			<label>{% trans "Change Quantity" %}</label>
			<input type="number" class="form-control" v-model="new_quantity" placeholder="{% trans "Type Quantity" %}" value="0">
		    </div>
		    <div class="col-12 form-row mt-4">
			<a class="col-6 form-control btn btn-outline-danger" @click="clear"><i class="fas fa-trash-alt"></i> {% trans "Clear Form" %}</a>
			<a class="col-6 form-control btn btn-outline-warning" @click="decrease"><i class="fas fa-arrow-down"></i> {% trans "Decrease" %}</a>
		    </div>
		</div>
	    </form>
	</div>
    </div>
</div>
{% endblock %}

{% block script %}
<link href="https://unpkg.com/vue-bootstrap-typeahead/dist/VueBootstrapTypeahead.css" rel="stylesheet">
<script src="https://unpkg.com/vue-bootstrap-typeahead"></script>
<script>
 Vue.component('vue-bootstrap-typeahead', VueBootstrapTypeahead)

 const PRODUCT_API_URL = '/api/searchProduct/'
 
 axios.defaults.xsrfCookieName = 'csrftoken';
 axios.defaults.xsrfHeaderName = "X-CSRFToken";
 axios.defaults.withCredentials = true;

 var app = new Vue({
     delimiters: ['[[', ']]'],
     el: '#vue',
     data: {
	 product_search: null,
	 show: false,
	 products: [],
	 product: null,
	 product_detail: {},
	 quantity: null,
	 new_quantity: 0,
	 stock_id: null,
	 selected_category: "", 
     },
     methods: {
	 async getAddresses4Game(query) {
	     data = {
		 key: query,
		 category: this.selected_category
	     }
	     if (this.product_search.length > 1) {
		 const res = await fetch(PRODUCT_API_URL,
					 {
					     method: 'POST',
					     headers: {
						 'Content-Type': 'application/json',
						 'X-CSRFToken': csrfToken
					     },
					     body: JSON.stringify(data),
					 })
		 const suggestions = await res.json()
		 this.products = suggestions
	     }
	 },
	 getStock() {
	     axios
		 .get('/api/stockFromProduct/' + this.product + '/')
		 .then(response => {
		     this.quantity = response.data.quantity
		     this.stock_id = response.data.id
		 })
		 .catch(error => {
		     console.log("There is an error");
		 })
	 },
	 getProduct() {
	     axios
		 .get('/api/product/' + this.product + '/')
		 .then(response => {
		     this.product_detail = response.data;
		 })
		 .catch(error => {
		     console.log("There is an error");
		 })
	     this.getStock()
	 },
	 decrease() {
	     axios
		 .patch('/api/stock/' + this.stock_id + '/',
			{
			    quantity: (parseInt(this.quantity) - parseInt(this.new_quantity))
			})
		 .then(response => {
		     main.makeToast(title="Success", variant = 'success', m_body="{% trans "Item quantity successfully changed" %}")
		     this.getProduct()
		 })
		 .catch(error => {
		     console.log("There is an error");
		 })
	 },
	 clear() {
	     this.product_search = null
	     this.products = []
	     this.product = null
	     this.product_detail = {}
	     this.quantity = null
	     this.new_quantity = 0
	     this.stock_id = null
	 },
	 toggleNavbar() {
	     this.show = !this.show;
	 },
     },
     computed: {
	 
     },
     watch: {
	 product_search: _.debounce(function(addr) { this.getAddresses4Game(addr) }, 500),
	 product: _.debounce(function() { this.getProduct() }, 500),
     }
 });
</script>
{% endblock %}
